/*layout*/
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 550 px;
    width: 550px;
    opacity: 1;
    font-family: "Inter", sans-serif;
    border: 1px solid #D1D5DB;
    margin: 20px;
    border-radius: 10px;
}

main {
    height: 90px;
    background-color: #ffffff;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#color-scheme-container {
    display: flex;
    width: 550px;
    flex-grow: 1;
}

.color-box{
    display: flex;
    flex-direction: column;    
    margin: 0;
    padding: 0;
    width: 110px;
    cursor: pointer;
}

.color-display {
    height: 414px;
}

#seed-color {
    width: 61px;
    height: 42px;
    border-width: 0.5px;
    border: none;
}

/*typography*/
.color-code {
    height: 46px;
    margin: 0;
    text-align: center;
    padding: 11px;
    color: #2B283A;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0%;
}

#color-scheme-mode {
    font-family: inherit;
    width: 312px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    padding-left: 13px;
    color: #111827;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    appearance: none;
    padding-right: 40px;
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none;    /* Firefox */
    background:
        url("data:image/svg+xml;utf8,\
    <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' stroke='%239CA3AF' stroke-width='2.5' fill='none' stroke-linecap='round' stroke-linejoin='round'>\
    <polyline points='6 9 12 15 18 9'/>\
    </svg>") 
        no-repeat
        right 13px center;
}

#copied {
    font-family: inherit;
    font-style: italic;
    position: absolute;
    left: 12.5%;
    bottom: 150px;
    padding: 20px 1px;
    text-align: center;
    width: 300px;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 15px;
}

/*form & button*/
form select,
form input,
form button {
    vertical-align: middle; /* align all elements to the middle */
    /* optional: make heights uniform */
    height: 42px;
    margin-right: 13px;
}

#get-color-btn {
    width: 123px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    margin-right: 0;
    background-color: #ffffff;
    font-family: inherit;
    color: #374151;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
}